.round {
  border-radius: 15px;
}

.card {
    margin:1px;
    padding:5mm;
    width: 57.15mm;
    height: 88.9mm;
    float:left;
}

.cor-Cinza {
  background-color:#999;
  color:#999;
}
.cor-Verde,.cor-Verde .tratamento:before, .Triagem:before {
  background-color:#24A63F;
  color:#24A63F;
}

.cor-Amarela, .cor-Amarela .tratamento:before {
  background-color:#F5CB39;
  color:#F5CB39;
}

.cor-Azul, .cor-Azul .tratamento:before {
  background-color:#0F6A97;
  color:#0F6A97;
}

.cor-Vermelho, .mortalidade:before {
  background-color:#CB3324;
  color:#CB3324;
}

.inner {
    width: 100%;
    height: 100%;
    margin:0 auto;
    background-color:#FFFFFF;
    text-align:center;
}

.top {
  height:20mm;
}
.middle {
  height:30mm;
}

.bottom {
  .height:15mm;
}
.nome {
    font-size:1.2em;
    font-weight: bold;
    padding: 3mm;
}

.sub {
  font-size:1.2em;
}

.Triagem:before{
    content: '';
    mask:url('../imgs/icons/005-stethoscope.svg');
    background-size:cover;
    position:absolute;
    width:20px;
    height:20px;
    margin-left:-20px;
}

.tratamento:before{
    content: '';
    mask:url('../imgs/icons/003-pills.svg');
    background-size:cover;
        position:absolute;
    width:20px;
    height:20px;
    margin-left:-30px;
    margin-top:8px;
}

.mortalidade:before{
    content: '';
    mask: url('../imgs/icons/001-christian-grave.svg');
    background-size:cover;
    position:absolute;
    width:20px;
    height:20px;
    margin-left:-30px;
    margin-top:8px;
}

.costs {
  padding-top:10mm;
  font-size:2em;
}

.bar {
  width:20mm;
  padding:0mm;
  margin-top:0mm;
  margin-bottom:0mm;
}

.obs {
  font-size:0.8em;
  padding:5mm;
  text-align: left;
}

.box {
  margin:20mm auto;
  color:#FFFFFF !important;
  width:40mm;
  height:1.5cm;
  border-radius: 5px;
  display:table;
}

.box span {
  display:table-cell;
  vertical-align: middle;
}
.card {
    page-break-inside: avoid;
}
