
@media print and (color) {
   * {
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
   }
}

.round {
  border-radius: 15px;
}

.card {
    margin:1px;
    padding:5mm;
    width: 57.15mm;
    height: 88.9mm;
    float:left;
    font-family: "Open Sans";
}

/* Cores de cartas */

.basica {
  background-color:#24A63F;
  color:#24A63F;
}

.avancada {
  background-color:#F5CB39;
  color:#F5CB39;
}

.tecnologia {
  background-color:#0F6A97;
  color:#0F6A97;
}

.cidade {
  background-color:#999;
  color:#999;
}

.equipamento {
  background-color:#572A41;
  color:#572A41;
}

.evento {
  background-color:#CB3324;
  color:#CB3324;
}

/* Tamanhos */
.inner {
    width: 100%;
    height: 100%;
    margin:0 auto;
    background-color:#FFFFFF;
    text-align:center;
}

.top {
  height:20mm;
}
.middle {
  height:30mm;
}

.bottom {
  .height:15mm;
}


/* Fontes */
.nome {
    font-size:1.2em;
    font-weight: bold;
    padding: 3mm;
}

.sub {
  font-size:1.2em;
}


.slash {
  padding-top:10mm;
  font-size:2em;
}


/* Icones */

.basica .Triagem:before{
    content: '';
    background-image: url('../imgs/icons/005-stethoscope.svg');
    background-size:cover;
    position:absolute;
    width:20px;
    height:20px;
    margin-left:-20px;
}

.cidade .info_a:before{
    content: '';
     background-image: url('../imgs/icons/007-avatar.svg');
    background-size:cover;
    position:absolute;
    width:20px;
    height:20px;
    margin-left:-30px;
    margin-top:10px;
}


.basica .info_a:before {
    content: '';
    background-image:url('../imgs/icons/003-pills.svg');
    background-size:cover;
        position:absolute;
    width:20px;
    height:20px;
    margin-left:-30px;
    margin-top:10px;
}

.avancada .info_a:before {
    content: '';
    background-image: url('../imgs/icons/003-pills.svg');
    background-size:cover;
        position:absolute;
    width:20px;
    height:20px;
    margin-left:-30px;
    margin-top:10px;
}

.basica .info_b:before, .avancada .info_b:before{
    content: '';
    background-image: url('../imgs/icons/001-christian-grave.svg');
    background-size:cover;
    position:absolute;
    width:20px;
    height:20px;
    margin-left:-30px;
    margin-top:10px;
}


.cidade .info_b:before, .tecnologia .info_a:before {
  content: '';
  background-image: url('../imgs/icons/008-money.svg');
  background-size:cover;
  position:absolute;
  width:20px;
  height:20px;
  margin-left:-30px;
  margin-top:10px;
}

.equipamento .info_a:before, .equipamento .info_b:before {
  content: '';
  background-image: url('../imgs/icons/008-money.svg');
  background-size:cover;
  position:absolute;
  width:20px;
  height:20px;
  margin-left:-30px;
  margin-top:10px;
}

.bar {
  width:20mm;
  padding:0mm;
  margin-top:0mm;
  margin-bottom:0mm;
}

.obs {
  font-size:0.8em;
  padding:5mm;
  text-align: left;
}

.box {
  margin:20mm auto;
  color:#FFFFFF !important;
  width:40mm;
  height:1.5cm;
  border-radius: 5px;
  display:table;
}

.box span {
  display:table-cell;
  vertical-align: middle;
}
.card {
    page-break-inside: avoid;
}
